@using System.Threading.Tasks
@*using TravelBuddy.Controllers*@
@model IEnumerable<TravelBuddy.Models.Advertisment.AdvertismentViewModel>

@*if (ViewData[AdvertismentController.MessageKey] != null)
    {
        <text><div class="text-danger">@ViewData[AdvertismentController.MessageKey]</div></text>
    }*@
<p>
    <a class="btn btn-default" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Since)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Until)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Since)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Until)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
